<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
        {% endblock %}
    </head>
    <body>
      <div id="react-root">
      </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}

        {% block latejavascripts %}
        {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </body>
</html>
