<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <div id="react-root">
      </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}

        {% block latejavascripts %}

        {% endblock %}
    </body>
</html>
